
<div class="col-sm-3">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Auction {{auctionId}}</h4>
      <h6 class="card-subtitle text-muted">Auction time left</h6>
    </div>
    <img src="/assets/images/placeholder.png" alt="Card image" style="display:block; margin:auto;">
    <div class="card-block">
      <p class="card-text">{{auctionDescription}}</p>
      <button type="button" class="btn btn-primary" style="width:100px">View</button>
      <button type="button" class="btn btn-success" style="width:100px">Bid</button>
    </div>
  </div>
</div>
