<h1 style="margin-top: 50px; margin-bottom: 30px">Congratulations!</h1>

{{#if created}}
  <h3>User successfully created! Please {{#link-to "user.sign-in"}}sign in{{/link-to}}</h3>
{{/if}}

{{#if updated}}
  <h3>User successfully updated!</h3>

  <div class="alert alert-warning" role="alert">
    <strong>Warning!</strong> To see changes, log out and log back in {{#link-to "user.sign-in"}}sign in{{/link-to}}
  </div>
{{/if}}
