<h1 style="margin-top: 50px; margin-bottom: 30px">Search Auctions</h1>
{{#if errorMessage}}
    <div class="alert alert-danger" role="alert">
        <strong>Error! </strong>{{errorMessage}}
    </div>
{{/if}}
<form {{action "searchKeyword" on="submit"}}>
  <div class="form-group">
    {{ember-selectize content=predefinedItems required=true tabindex=6 selection=selectedItem placeholder="Search By"}}
  </div>
  <div class="form-group">
    {{input value=keywordString class="form-control"}}
  </div>
    <button style="margin-top: 10px;" type="submit" class="btn btn-primary">Search</button>
</form>
